@import url("/static/css/satoshi.css?6b3c87fd90a3");
/* line 6, static/css/style.scss */
body {
  margin-top: 20px;
  font-family: "Satoshi-Bold", monospace; }

/* line 11, static/css/style.scss */
input:focus {
  outline: none; }

/* line 16, static/css/style.scss */
#header {
  display: inline-flex;
  margin-bottom: 20px;
  width: 100%;
  flex-shrink: 0; }
  /* line 22, static/css/style.scss */
  #header div {
    margin: auto 0px auto auto; }
  /* line 26, static/css/style.scss */
  #header a {
    text-decoration: none;
    color: #272343;
    cursor: pointer; }
    /* line 31, static/css/style.scss */
    #header a:not(:first-child) {
      margin-left: 15px; }
    /* line 35, static/css/style.scss */
    #header a img {
      width: 40px;
      height: 40px;
      display: block;
      margin: auto auto auto 4px; }

/* line 45, static/css/style.scss */
#notes-list {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  height: 100%; }
  /* line 51, static/css/style.scss */
  #notes-list > div {
    margin: auto;
    color: gainsboro; }
  /* line 56, static/css/style.scss */
  #notes-list > span {
    width: 32.5%;
    border: 2px solid #272343;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer; }
    /* line 65, static/css/style.scss */
    #notes-list > span h1, #notes-list > span h2, #notes-list > span h3, #notes-list > span h4, #notes-list > span h5, #notes-list > span h6 {
      font-size: x-large; }
  /* line 69, static/css/style.scss */
  #notes-list #weblinks-form {
    margin-top: 50px;
    border: 2px solid #272343; }

/* line 76, static/css/style.scss */
section {
  height: 100%; }
  /* line 79, static/css/style.scss */
  section .submit-button {
    text-decoration: none; }

/* line 85, static/css/style.scss */
section {
  height: 100%;
  display: block; }
  /* line 90, static/css/style.scss */
  section form {
    height: 100%; }

/* line 95, static/css/style.scss */
.submit-button {
  border: 2px solid #ffd803;
  color: #272343;
  background-color: #ffd803;
  padding: 4px 10px 4px 10px;
  float: right;
  margin: 20px 0 10px 10px; }

/* line 104, static/css/style.scss */
.new-note-form-header {
  width: 100%;
  display: flex;
  flex: auto; }
  /* line 109, static/css/style.scss */
  .new-note-form-header input, .new-note-form-header div {
    width: 100%;
    padding: 5px 5px 5px 10px;
    margin: 5px 10px 5px 0px;
    border: 2px solid #272343; }
    /* line 115, static/css/style.scss */
    .new-note-form-header input:focus, .new-note-form-header div:focus {
      outline: none; }
    /* line 119, static/css/style.scss */
    .new-note-form-header input:last-child, .new-note-form-header div:last-child {
      margin-right: 0; }
  /* line 124, static/css/style.scss */
  .new-note-form-header select {
    margin: auto 0px auto 5px;
    padding: 5px; }

/* line 133, static/css/style.scss */
.note-content {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #272343;
  white-space: pre-wrap;
  overflow-wrap: break-word; }
  /* line 142, static/css/style.scss */
  .note-content:focus {
    outline: none; }
