{% extends 'base.html' %}
{% block content %}
    <a href="{% url 'save_pdf' %}" class="submit-button">New PDF</a>
    <div id="notes-list">
        {% if all_external_data %}
            {% for data in all_external_data%}
                <span data-link="{% url 'view_webpage' data.id %}" onclick="new_note(this.id)" id="{{ data.id }}">
                    <div>
                        <p>{{ data.content | safe }}</p>
                    </div>
                </span>
            {% endfor %}
        {% else %}
            <div>
                No PDFs
            </div>
        {% endif %}
    </div>
{% endblock %}