{% extends 'base.html' %}
{% block content %}
    <div id="notes-list">
        {% if all_external_data %}
            {% for data in all_external_data%}
                <span data-link="#" onclick="new_note(this.id)" id="{{ data.id }}">
                    <div>
                        {{ data.content | safe }}
                    </div>
                </span>
            {% endfor %}
        {% else %}
            <div>
                Codex Empty
            </div>
        {% endif %}
    </div>
{% endblock %}