{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <section>
        <form action="{% url 'edit_note' id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Commit" class="submit-button">
            <div class="new-note-form-header">
                {{ note_form.entity }}
                {{ note_form.url }}
                {{ tag_form.tag }}
                {{ note_form.source_type }}
            </div>
            {% render_field note_form.content class="note-content" %}
        </form>
    </section>
{% endblock %}