{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <section>
        <form action="{% url 'new_note' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Commit" class="submit-button">
            <div class="new-note-form-header">
                {% render_field note_form.entity placeholder="source of the text..." %}
                {% render_field note_form.url placeholder="url of the source, if any..." %}
                {% render_field tag_form.tag placeholder="tag..." %}
                {% render_field note_form.source_type %}
            </div>
            {% render_field note_form.content placeholder="write something..." class="note-content" %}
        </form>
    </section>
{% endblock %}