{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <section>
        {% if form %}
            <form action="{% url 'new_note' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Commit" class="submit-button">
                <div id="new-note-form-header">
                    {% render_field form.entity placeholder="source of the text..." %}
                    {% render_field form.url placeholder="url of the source, if any..." %}
                    {% render_field form.source_type %}
                </div>
                {% render_field form.content placeholder="write something..." id="note-content" %}
            </form>
        {% endif %}
        {% if note %}
            <form action="{% url 'edit_note' %}" method="put">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        {% endif %}
    </section>
{% endblock %}